pipeline/01 Load DWH from 02a-processed Inc.json
{
	"name": "01 Load DWH from 02a-processed Inc",
	"properties": {
		"activities": [
			{
				"name": "Get directories2Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "source_directories02a_processed_for_DWH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Directory",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get directories2Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get directories2Load').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Load Files in Directory",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02 Load Files from directory 02a-processed Inc",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"directory": {
										"value": "@item().directoryName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "03-DWH/Incremental Load/02a-processed"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-24T06:45:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}