pipeline/02 Load Files from directory 02-cleansed_Inc.json
{
	"name": "02 Load Files from directory 02-cleansed_Inc",
	"properties": {
		"activities": [
			{
				"name": "Get Files in 02-cleansed",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_getFiles02_cleansed",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files in 02-cleansed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files in 02-cleansed').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MERGE DATA",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy to tmp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stage].[spMergeData]",
								"storedProcedureParameters": {
									"Debug": {
										"value": null,
										"type": "String"
									},
									"SrcDatabase": {
										"value": "DWH",
										"type": "String"
									},
									"SrcSchema": {
										"value": "tmp",
										"type": "String"
									},
									"SrcTable": {
										"value": {
											"value": "@replace(item().name,'_cleansed.csv','')",
											"type": "Expression"
										},
										"type": "String"
									},
									"TgtDatabase": {
										"value": "DWH",
										"type": "String"
									},
									"TgtSchema": {
										"value": "stage",
										"type": "String"
									},
									"TgtTable": {
										"value": {
											"value": "@replace(item().name,'_cleansed.csv','')",
											"type": "Expression"
										},
										"type": "String"
									},
									"WhereClause": {
										"value": null,
										"type": "String"
									},
									"DropSrcTable": {
										"value": "Y",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy to tmp",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "source_02cleansed",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@pipeline().parameters.directory",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_DWH_tmp",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@replace(item().name,'_cleansed.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "03-DWH/Incremental Load/02-cleansed"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-24T07:20:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}