pipeline/Iterate CSV Cleansing.json
{
	"name": "Iterate CSV Cleansing",
	"properties": {
		"activities": [
			{
				"name": "Get Directories",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_csvCleansing_directories",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "DoCleansing ForEach Directory",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Directories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Directories').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute DoCSVCleansing",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DoCSVCleansing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "02-cleansed"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-20T06:43:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}